<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plant Identification Using Leaf Image</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    	#hero{
    		height:100vh;

        font-family: 'Open Sans', sans-serif;
       background: url({{ url_for('static', filename='img/bgs6.jpeg') }}) no-repeat;
       background-size:cover;
      min-height: 600px;
       position: relative;
       background-position:left;
       background-opacity:0.4;
    }
    #header{
    background-color: black;
    width: 100%;
    height:80px;
    padding-left: 60px;
	}
	#header > a{
	margin-top: -80px;
	margin-left: 90%;
	}
    </style>
</head>
<body>

	<div class="container-fluid" id="hero">
    <center>
		<div class="container" style="margin: 3rem;">
<h1 style="padding-top: 2rem;">Here is your result !<strong>!</strong></h1>
<br>
<br>
<p>
<img src=" {{url_for('send_image', filename=image_name, result_pred = result_pred)}}" height=20% width=20%>
</p>
<br>
<h1 style="font-size: 30px;">It is a <strong style="color: red;">{{ result_pred }} </strong> Leaf.</h2>
<!-- <h1 style="color: red;"> {{ result_pred }}</h1>
 -->
<br>
<a role="button" class="btn btn-success" href="{{ url_for('back') }}">Go back</a>
		</div>
  </center>
	</div>
</body>
</html>